In [2]:
import pickle
import pandas as pd

In [3]:
with open("../assets/models/decision-tree.pkl", "rb") as f:
    model = pickle.load(f)

In [30]:
arbre = model['model']

In [46]:
df =pd.read_csv(f'../assets/data/submissions.csv', sep=',', decimal=',', low_memory=False)
df.shape

(378041, 34)

In [17]:
df.head()

,Date mutation,Nature mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,...,Surface Carrez du 5eme lot,Nombre de lots,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,ID
0,03/01/2022,Vente,13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,...,NaN,1,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,1
1,03/01/2022,Vente,98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,1,...,NaN,1,Appartement,NaN,140.0,3.0,NaN,NaN,NaN,2
2,06/01/2022,Vente,282.0,NaN,RTE,0130,DE POISATON,1560.0,MANTENAY-MONTLIN,1,...,NaN,0,Maison,NaN,108.0,5.0,S,NaN,649.0,3
3,05/01/2022,Vente,7.0,NaN,RUE,0031,DU CORNIER,1150.0,VAUX-EN-BUGEY,1,...,NaN,0,Maison,NaN,85.0,4.0,S,NaN,310.0,4
4,06/01/2022,Vente,7.0,NaN,RUE,3125,DES PINS,1000.0,BOURG-EN-BRESSE,1,...,NaN,0,NaN,NaN,99.0,5.0,S,NaN,765.0,5

In [47]:
df['key'] = df['Date mutation'].astype('str') + df['Type de voie'].astype('str') + df['Voie'].astype('str') + df['Code postal'].astype('str')
df = df.groupby('key').filter(lambda x : len(x) == 1)
df.shape

(377963, 35)

In [48]:
df['Type local'].isna()

0         False
1         False
2         False
3         False
4          True
          ...
378036    False
378037    False
378038    False
378039    False
378040    False
Name: Type local, Length: 377963, dtype: bool

In [49]:
testSet = df[df['Type local'].isna()][['Nombre de lots','Nombre pieces principales', 'Type local']]

In [50]:
testSet.iloc[:,:-1]

        Nombre de lots Nombre pieces principales
4                    0                       5.0
13                   0                       3.0
33                   0                       5.0
40                   0                       0.0
44                   1                       0.0
...                ...                       ...
378010               1                       2.0
378015               1                       0.0
378019               1                       0.0
378023               1                       1.0
378024               1                       0.0

[49993 rows x 2 columns]

In [51]:
testSet['Type local'] =  arbre.predict(testSet[['Nombre de lots','Nombre pieces principales']]).tolist()

In [52]:
testSet.head()

,Nombre de lots,Nombre pieces principales,Type local
4,0,5.0,Maison
13,0,3.0,Maison
33,0,5.0,Maison
40,0,0.0,Local industriel. commercial ou assimilÃ©
44,1,0.0,DÃ©pendance

In [75]:
testSet.loc[49990:, :]

        Nombre de lots Nombre pieces principales   Type local
50005                0                       4.0       Maison
50015                0                       4.0       Maison
50018                0                       4.0       Maison
50028                0                       5.0       Maison
50030                0                       3.0       Maison
...                ...                       ...          ...
378010               1                       2.0  Appartement
378015               1                       0.0   DÃ©pendance
378019               1                       0.0   DÃ©pendance
378023               1                       1.0  Appartement
378024               1                       0.0   DÃ©pendance

[43381 rows x 3 columns]

In [76]:
df.loc[testSet.index , 'Type local']

4                                           Maison
13                                          Maison
33                                          Maison
40        Local industriel. commercial ou assimilÃ©
44                                      DÃ©pendance
                            ...
378010                                 Appartement
378015                                  DÃ©pendance
378019                                  DÃ©pendance
378023                                 Appartement
378024                                  DÃ©pendance
Name: Type local, Length: 49993, dtype: object

In [73]:
df.shape

(377963, 35)

In [72]:
df.iloc[:, :]

,Date mutation,Nature mutation,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,...,Nombre de lots,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,ID,key
0,03/01/2022,Vente,13.0,NaN,RUE,2280,DE LA LIBERTE,1000.0,BOURG-EN-BRESSE,1,...,1,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,1,03/01/2022RUEDE LA LIBERTE1000.0
1,03/01/2022,Vente,98.0,NaN,RTE,0055,DE LA DOMBES,1480.0,SAVIGNEUX,1,...,1,Appartement,NaN,140.0,3.0,NaN,NaN,NaN,2,03/01/2022RTEDE LA DOMBES1480.0
2,06/01/2022,Vente,282.0,NaN,RTE,0130,DE POISATON,1560.0,MANTENAY-MONTLIN,1,...,0,Maison,NaN,108.0,5.0,S,NaN,649.0,3,06/01/2022RTEDE POISATON1560.0
3,05/01/2022,Vente,7.0,NaN,RUE,0031,DU CORNIER,1150.0,VAUX-EN-BUGEY,1,...,0,Maison,NaN,85.0,4.0,S,NaN,310.0,4,05/01/2022RUEDU CORNIER1150.0
4,06/01/2022,Vente,7.0,NaN,RUE,3125,DES PINS,1000.0,BOURG-EN-BRESSE,1,...,0,Maison,NaN,99.0,5.0,S,NaN,765.0,5,06/01/2022RUEDES PINS1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378036,16/06/2022,Adjudication,21.0,NaN,AV,6626,MOZART,75016.0,PARIS 16,75,...,3,Appartement,NaN,24.0,1.0,NaN,NaN,NaN,378037,16/06/2022AVMOZART75016.0
378037,14/12/2022,Vente,13.0,NaN,QUAI,2296,DE CONTI,75006.0,PARIS 06,75,...,1,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,378038,14/12/2022QUAIDE CONTI75006.0
378038,30/12/2022,Vente,19.0,NaN,RUE,4879,JEAN DOLENT,75014.0,PARIS 14,75,...,1,Local industriel. commercial ou assimilÃ©,NaN,327.0,0.0,NaN,NaN,NaN,378039,30/12/2022RUEJEAN DOLENT75014.0
378039,30/12/2022,Vente,69.0,NaN,RUE,0679,BARRAULT,75013.0,PARIS 13,75,...,1,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,378040,30/12/2022RUEBARRAULT75013.0
378040,21/11/2022,Vente,48.0,NaN,RUE,8358,DE LA ROQUETTE,75011.0,PARIS 11,75,...,1,DÃ©pendance,NaN,0.0,0.0,NaN,NaN,NaN,378041,21/11/2022RUEDE LA ROQUETTE75011.0

In [70]:
df.loc[testSet.index, 'Type local'] = testSet['Type local']

In [71]:
df.isna().mean() * 100

Date mutation                   0.000000
Nature mutation                 0.000000
No voie                         0.599000
B/T/Q                          93.033974
Type de voie                    6.027045
Code voie                       0.000000
Voie                            0.003175
Code postal                     0.004498
Commune                         0.000000
Code departement                0.000000
Code commune                    0.000000
Prefixe de section             96.365517
Section                         0.005292
No plan                         0.000000
No Volume                     100.000000
1er lot                        61.344100
Surface Carrez du 1er lot      83.189889
2eme lot                       94.930721
Surface Carrez du 2eme lot     98.627908
3eme lot                       98.512288
Surface Carrez du 3eme lot     99.738070
4eme lot                       99.308398
Surface Carrez du 4eme lot     99.904223
5eme lot                       99.599961
Surface Carrez du 5eme lot     99.952905
Nombre de lots                  0.000000
Type local                      0.000000
Identifiant local             100.000000
Surface reelle bati             0.143136
Nombre pieces principales       0.143136
Nature culture                 39.118644
Nature culture speciale        99.849985
Surface terrain                39.118644
ID                              0.000000
key                             0.000000
dtype: float64

In [ ]:
# df.to_csv('./data/data-prediction-type-local.csv', sep=',')